In [ ]:
# Question 1

In [1]:
## Un kpi est un indicateur de performance qui permet d'évaluer les retombées et les ROI avant de commencer un projet par exemple en CRM, on parle de nombre de clients actifs, taux de churn ou taux d'attrition, taux de désabonnement

In [2]:
# Question 2

In [3]:
import pandas as pd
import seaborn as sns
import numpy as ny
import matplotlib as ml

In [4]:
# Question 3

In [50]:
df1 = pd.read_csv("/home/pisop/Téléchargements/eval_data.csv")

In [ ]:
# Question 4

In [51]:
df1.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [52]:
# Question 5

In [53]:
df1.shape

(4622, 6)

In [54]:
# Question 6

In [55]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

In [56]:
 # Dans ce dataset on a 6 colones dont 3 de int et 3 d'objet

In [57]:
# Question 7

In [58]:
df1.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [59]:
# Question 8

In [60]:
df1["item_name"].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [31]:
# L'item le plus commandé est le Chicken Bowl

In [33]:
# Question 9

In [37]:
# Nombre d'item commandé au total:
df1["quantity"].sum()

4972

In [61]:
# Question 10

In [76]:
df1['item_price'] = df1['item_price'].replace('[\$]', '', regex=True).astype(float)

In [85]:
df1["total_order"] = df1["quantity"] * df1["item_price"]

In [86]:
df1["total_order"].sum()

38998.020000000004

In [65]:
# Question 11

In [104]:
df1

In [105]:
df2.head(10)

order_id  total_order
1         3.39            3.39
2         33.96          33.96
3         1.69            1.69
          10.98          10.98
4         9.25            9.25
          11.75          11.75
5         4.45            4.45
          9.25            9.25
6         8.75            8.75
7         4.45            4.45
Name: total_order, dtype: float64

In [107]:
df2.mean()

8.560949622166246